<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{layouts/base :: layout(~{::title}, ~{}, ~{}, ~{::body/content()})}">

<head>
	<title>カート</title>
	<link th:href="@{/css/button.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Contents -->
	<section class="py-5">
		<div class="text-center container">
			<div class="d-flex flex-row mb-3">
				<table class="table align-middle">
					<thead class="table-light">
						<tr class="text-center">
							<th></th>
							<th>ID</th>
							<th style="width:20%">商品画像</th>
							<th>商品名</th>
							<th>単価</th>
							<th>数量</th>
							<th>小計</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center " th:if="${not #lists.isEmpty(cartItems)}"
							th:each="cartItem, rowStatus : ${cartItems}">
								<td>
									<form th:action="@{/cart/delete/{id}(id=${cartItem.product.id})}" th:method="post">
										<button class="btn btn-danger" id="submit" type="submit">
											<i class="bi bi-trash"></i>
									</form>
								</td>
								<td>[[${cartItem.product.id}]]</td>
								<td>
									<img class="img-fluid mx-auto d-block" th:src="@{${cartItem.product.imagePath}}">
								</td>
								<td>[[${cartItem.product.name}]]</td>
								<td class="price" th:id="price">[[${cartItem.product.price}]]</td>
								<td th:id="quantity">
									<div class="d-flex input-group">
										<button type="button" class="btn btn-secondary" 
										id="decrement_${cartItem.product.id}">
											<i class="bi bi-dash"></i>
										</button>
										<!-- quantity の変更に対するイベントリスナーを追加 -->
										<input type="number" class="form-control text-center quantity" min="1" max="10"
											 name="quantity" th:value="${cartItem.quantity}" readonly/>
										<button type="button" class="btn btn-secondary" 
										 id="increment_${cartItem.product.id}">
											<i class="bi bi-plus"></i>
										</button>
									</div>
								</td>
								<td>
									<!-- 小計を表示する要素 -->
									<span class="subtotal"th:id="'subtotal_' + ${rowStatus.index}">[[${cartItem.product.price * cartItem.quantity}]]</span>
								</td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(cartItems)}">
							<h1 class="fw-light">カートは空です</h1>
							<!-- 必要に応じて列の数を調整 -->
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col-9"><h2>カート合計</h2></div>
					<div class="col-9">
						<h4 class="fw-light sum" th:text="合計  + ${sum} + 円"></h4>
					</div>
					<div>
					<button class="btn btn-primary flex-shrink-0 ms-4" id="submit" type="submit">
					レジに進む</button>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<script th:src="@{/js/calculation.js}"></script>
</body>

</html>