<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slshop.cartitem.CartItemMapper">

	<resultMap id="cartItemMap"
		type="com.slshop.common.entity.CartItem">
		<id column="ID" property="id" />
		<result column="QUANTITY" property="quantity" />
		<result column="" property="quantity" />
		<association property="customer"
			javaType="com.slshop.common.entity.Customer">
			<id column="CUSTOMER_ID" property="id" />
		</association>
		<association property="product"
			javaType="com.slshop.common.entity.product.Product">
			<id column="PRODUCT_ID" property="id" />
			<result column="IMAGE" property="image" />
			<result column="NAME" property="name" />
			<result column="PRICE" property="price" />
		</association>
	</resultMap>


	<insert id="insert" useGeneratedKeys="true" keyColumn="ID">
		INSERT
		INTO CART_ITEMS (ID, CUSTOMER_ID, PRODUCT_ID,
		QUANTITY) VALUES
		(CART_ITEMS_ID_SEQ.nextval, #{customer.id},
		#{product.id}, #{quantity})
	</insert>

	<select id="findItem" resultMap="cartItemMap">
		SELECT
		ID,QUANTITY
		FROM
		CART_ITEMS
		WHERE
		CUSTOMER_ID = #{customerId}
		AND
		PRODUCT_ID = #{productId}
	</select>

	<update id="update">
		UPDATE
		CART_ITEMS
		SET
		QUANTITY = #{quantity}
		WHERE
		CUSTOMER_ID = #{customer.id}
		AND
		PRODUCT_ID = #{product.id}
	</update>

	<select id="findAll" resultMap="cartItemMap">
		SELECT
		CI.PRODUCT_ID,
		P.IMAGE,
		P.NAME,
		P.PRICE,
		CI.QUANTITY
		FROM
		CART_ITEMS CI
		INNER JOIN
		PRODUCTS P
		ON
		CI.PRODUCT_ID = P.ID
		WHERE
		CI.CUSTOMER_ID = #{customerId}
	</select>

<!--	<select id="sum" resultMap="cartItemMap">-->
<!--		SELECT SUM(CI.QUANTITY * P.PRICE) AS SUBTOTAL-->
<!--		FROM CART_ITEMS CI-->
<!--		INNER JOIN PRODUCTS P ON CI.PRODUCTS_ID = P.ID-->
<!--		WHERE CI.CUSTOMER_ID = #{customerId};-->
<!--	</select>-->

	<delete id="deletedById">
		DELETE
		FROM
		CART_ITEMS
		WHERE
		PRODUCT_ID = #{productId}
	</delete>
</mapper>